<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="style.css">
    <title>zipVizDemo.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>NYC ZIP Code Visualization for Potential Housing</h1>
    <form name="FormName" action="NYC_zipMap.html" target="_blank">
       <fieldset>
          <legend>Selecting elements</legend>
          <p>
             <label>Criteria 1</label>
             <select id = "myList1">
                <option value = "1">Water System</option>
                <option value = "2">Noise</option>
                <option value = "3">Rodent</option>
                <option value = "4">Hazardous Materials</option>
                <option value = "5">Electrical</option>
                <option value = "6">Asbestos</option>
             </select>
          </p>

          <p>
             <label>Criteria 2</label>
             <select id = "myList2">
               <option value = "1">Water System</option>
               <option value = "2">Noise</option>
               <option value = "3">Rodent</option>
               <option value = "4">Hazardous Materials</option>
               <option value = "5">Electrical</option>
               <option value = "6">Asbestos</option>
             </select>
          </p>
          <p>
             <label>Criteria 3</label>
             <select id = "myList3">
               <option value = "1">Water System</option>
               <option value = "2">Noise</option>
               <option value = "3">Rodent</option>
               <option value = "4">Hazardous Materials</option>
               <option value = "5">Electrical</option>
               <option value = "6">Asbestos</option>
          </p>

       </fieldset>
       <br>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
